@import '../../../styles/variables';

.cartCard {
  border: 1px solid rgba($secondary-color, 0.3);
  border-bottom: none;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.08);
  border-radius: ($spacer * 1.5) ($spacer * 1.5) 0 0;
  margin: 0;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  width: 100vw;
  max-width: none;
  z-index: 10;
}