@import '../../../styles/variables.scss';

.hero {
  border-bottom: 1px solid #dee2e6;
}

.title {
  color: $text-primary;
  line-height: 1.2;
}

.subtitle {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.25rem;
}

@media (max-width: 767.98px) {
  .title {
    font-size: 2.5rem; 
  }
  
  .subtitle {
    font-size: 1.1rem;
  }
}

@media (max-width: 575.98px) {
  .title {
    font-size: 2rem;
  }
  
  .subtitle {
    font-size: 1rem;
  }
}